<form [formGroup]="mlicForm" class="d-flex flex-column">
  <mat-form-field class="m-1">
    <input
      autocomplete="off"
      matInput
      placeholder="cpid"
      formControlName="cpid"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      autocomplete="off"
      matInput
      placeholder="svid"
      formControlName="svid"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      autocomplete="off"
      matInput
      placeholder="svnm"
      formControlName="svnm"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      autocomplete="off"
      matInput
      placeholder="stat"
      formControlName="stat"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      autocomplete="off"
      matInput
      placeholder="lisu"
      formControlName="lisu"
    />
  </mat-form-field>
</form>
